<div class="flex flex-col justify-center p-4 bg-[#bdd5e7] rounded-full">
  <%= @message %>
</div>
<div class="flex-1 w-full flex flex-col sm:flex-row xl:justify-end sm:items-end space-y-2 sm:space-y-0 sm:space-x-2 mt-4 xl:mt-0">
  <div class="text-xs italic">Tutorial messages can be disabled on "Settings" menu inside "Configurations" section.</div>
</div>
